version: '3.8'

services:
  blackhole-blog:
    image: ghcr.io/brooke-zb/blackhole-blog:latest
    container_name: backend
    restart: unless-stopped

    # 端口映射
    ports:
      - "${HOST_IP}:${HOST_PORT}:${APP_PORT}"

    # 挂载宿主机目录，可以将配置文件和日志目录挂载到容器中
    volumes:
      - ${DATA_PATH}:/data

    # 环境变量 - 指定配置文件路径
    environment:
      - BH_BLOG_CONFIG_PATH=${BH_BLOG_CONFIG_PATH}
      - GIN_MODE=${GIN_MODE}

    # 访问宿主机服务
    extra_hosts:
      - "host.docker.internal:host-gateway"

    # 健康检查
    healthcheck:
      test: ["CMD-SHELL", "wget --quiet --tries=1 --spider http://127.0.0.1:${APP_PORT}/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
